<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- 继承用户级 NuGet.Config 的镜像与代理配置 -->
  <packageSourceMapping>
    <packageSource key="huaweicloud"><package pattern="*" /></packageSource>
    <packageSource key="nuget.org"><package pattern="*" /></packageSource>
  </packageSourceMapping>
</configuration>
